@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
* { 
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}
App{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: auto
}
.movies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 60px 0
}

.actor{
  max-width: 23%;
  box-shadow: 5px 8px 4px rgb(153, 248, 248);
  margin: 10px auto
  /* border: 4px solid rgb(153, 248, 248); */
}
.title{
  text-align: center;
  background-color: rgb(153, 248, 248);
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px
  ;
}
.actor-name{
  font-size: 30px;
  color:rgb(233, 212, 119)
}
.img-actor{
  margin: 0 auto
}
.known-for{
  font-size: 25px;
}
.eachFilm{
  font-size: 15px;
}
.film{
  width:120px;
  height: 165px;
  padding: 10px;
  display: inline-block;
  justify-content: space-around;
}
.star-photo{
  width:150px;
  margin: 5px 140px;
}